.home_page {
  background-color: inherit;
  padding: 30px 0;
}

.border-top {
  border-top: var(--border-front-page);
}

.border-bottom {
  border-bottom: var(--border-front-page);
}

.border-top-bottom {
  border-top: var(--border-front-page);
  border-bottom: var(--border-front-page);
}